<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} - Software Developer Portfolio</title>
    <link rel="icon" type="image/png" href="{{ "/assets/favicon-32x32.png" | relative_url }}">
    <link rel="icon" type="image/svg+xml" href="{{ "/assets/favicon.ico" | relative_url }}">
 


    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}

        
          

        <!-- Contact Section -->
        <h2>Contact</h2>
        <ul>
          <li>Phone: +91 7558884238</li>
          <li>Email: <a href="mailto:joeljaison394@gmail.com">joeljaison394@gmail.com</a></li>
          <li>LinkedIn: <a href="https://linkedin.com/in/joeljaison391">linkedin.com/in/joeljaison391</a></li>
          <li>GitHub: <a href="https://github.com/JoelJaison394">github.com/JoelJaison394</a></li>
        </ul>

        <!-- Organization Section -->
        <h2>Organization</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/IBM_logo.svg" alt="IBM Logo" width="200">

        <a href="{{ site.url }}/Joel_Jaison_2025.pdf" download="Joel_Jaison_2025.pdf">
            <button style="
              background-color: #1660b0;
              color: white;
              padding: 10px 20px;
              font-size: 16px;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              text-decoration: none;
            ">
              📄 Download Resume
            </button>
          </a>

      </header>
      
      <section>
        {{ content }}
      </section>

      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
